<div class="data-twitter-app">
  <%= form_tag twitter_timeline_path do %>
    <%= label_tag 'search for tweets' %>
    <%=  text_field_tag :id %>
  <% end %>
  <div class="data-tweets">
    <% @tweets.each do |tweet| %>
      <div class="tweet">
        <%= tweet[:text] %>
      </div>
    <% end %>
  </div>
</div>